/* GLOBAL */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: white;
  color: #202124;
  font-family: "Roboto", sans-serif;
}

/* BASE STYLES */

h1 {
  font-weight: 500;
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  font-size: 1.6rem;
}

a {
  color: #5f6368;
  font-size: 1.4rem;
  text-decoration: none;
}

a:hover {
  background-color: #f6f6f6;
  color: #202124;
  text-decoration: underline;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* NAV (For header & footer) */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: white;
  border-top: 1px solid #dadce0;
  border-bottom: 1px solid #dadce0;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  transition: top 0.3s;
}

.nav-wrapper {
  max-width: 1000px;
  min-width: 350px;
  margin: 0 auto;
  padding: 0 2.5rem;
}

.header-nav-padding {
  padding: 0 1rem;
}

.nav-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-right-side-ul {
  display: flex;
  flex-direction: row;
}

header a {
  display: block;
  padding: 1.4rem 1.5rem;
  font-weight: 500;
  letter-spacing: 0.025rem;
}

/* PROJECTS SECTION */

.projects-section {
  max-width: 1000px;
  min-width: 350px;
  margin: 0 auto;
  padding: 0rem 2.5rem;
  text-align: center;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(301px, 1fr));
  grid-gap: 2.5rem;
  padding-bottom: 2.5rem;
  border-bottom: solid 1px #dadce0;
}

.projects-section h1 {
  margin: 7.7rem 0 2.5rem;
  padding-bottom: 3rem;
  border-bottom: solid 1px #dadce0;
}

.project-tile {
  background-color: white;
  padding-bottom: 1rem;
  border: 1px solid #dadce0;
  border-radius: 8px;
  transition: all 0.18s ease;
}

.project-tile:hover {
  background-color: white;
  text-decoration: none;
  transform: translateY(-1px);
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.project-tile:hover > .project-title {
  color: #202124;
}

.projects-section img {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom: 1px solid #dadce0;
}

.project-title {
  padding-top: 1rem;
  color: #5f6368;
  font-size: 2rem;
  font-weight: 400;
}

/* FOOTER */

footer {
  margin-top: 5rem;
  border-top: 1px solid #dadce0;
  border-bottom: 1px solid #dadce0;
  padding: 3.2rem 0;
  background-color: #f8f9fa;
}

footer h3,
.name {
  color: #202124;
  font-weight: 500;
  font-size: 1.6rem;
}

footer li {
  margin: 1.8rem 0;
}

.footer-heading-1 {
  margin-bottom: 2px;
  font-weight: 900;
  color: #202124;
}

.brand-ul,
.details-ul {
  margin-right: 3rem;
}
