/* MOBILE-FIRST RESPONSIVE DESIGN */

/* GLOBAL */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  font-family: "Kumbh Sans", sans-serif;
  line-height: 1.5;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  display: grid;
  place-items: center;
}

.main-wrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
}

main {
  background-color: white;
  border-radius: 24px;
  padding: 82px 24px 48px;
  margin: 148px 24px 85px;
  position: relative;
}

h1 {
  color: hsl(238, 29%, 16%);
  text-transform: uppercase;
  text-align: center;
  margin-top: 48px;
  padding-bottom: 12px;
}

/* DETAILS TAG */

details {
  color: hsl(237, 12%, 33%);
  padding: 12px 0;
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

summary {
  cursor: pointer;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

summary::-webkit-details-marker {
  display: none;
}

summary:hover {
  color: hsl(14, 88%, 65%);
}

h3 {
  font-size: 13px;
  font-weight: normal;
  padding-right: 4px;
}

details[open] h3 {
  font-weight: 700;
  color: hsl(238, 29%, 16%);
}

details[open] .arrow-icon {
  transform: rotate(180deg);
}

.arrow-icon {
  padding: 0;
}

p {
  padding-top: 12px;
  padding-right: 12px;
  color: hsl(240, 6%, 50%);
  font-size: 12px;
}

/* MOBILE ASSETS */

.mobile-img-wrapper {
  z-index: 10;
  position: absolute;
  top: -108px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.illustration-mobile {
  z-index: 10;
  margin-right: 26px;
}

.bg-pattern-mobile {
  z-index: 10;
  position: relative;
  bottom: 88px;
  left: 1.5px;
}

/* DESKTOP ASSETS */

.illustration-desktop-wrapper {
  display: none;
  z-index: 10;
  max-width: 370px;
  position: absolute;
  top: 60px;
  left: -60px;
}

.illustration-desktop {
  height: 280px;
}

.box {
  display: none;
  z-index: 15;
  width: 155px;
  position: absolute;
  top: 165px;
  left: -76px;
}

.bg-pattern-desktop-wrapper {
  display: none;
  z-index: 5;
  position: absolute;
  top: -225px;
  left: -436px;
}

.bg-pattern-desktop {
  height: 730px;
}

/* FOOTER */

.attribution {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0;
  text-align: center;
  padding-bottom: 10px;
}

.attribution p {
  color: white;
}

/* MEDIA QUERY FOR DESKTOP */

@media only screen and (min-width: 838px) {
  .mobile-img-wrapper {
    display: none;
  }

  .illustration-desktop-wrapper,
  .box,
  .bg-pattern-desktop-wrapper {
    display: block;
  }

  .main-wrapper {
    position: relative;
    width: auto;
    max-width: none;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  main {
    margin: 0;
    padding: 60px;
    padding-left: 50%;
    width: 100vw;
    max-width: 768px;

    overflow: hidden;
  }

  h1 {
    margin-top: 0;
    text-align: left;
  }

  .attribution {
    bottom: -40px;
  }

  .arrow-icon {
    padding-right: 20px;
  }
}
